@font-face {
	font-family:SiYuanRegular;src:url('static/fonts/Siyuan-Regular.ttf')
}

@font-face {
	font-family:SiYuanMedium;src:url('./static/fonts/Siyuan-Medium.ttf')
}
* {
	box-sizing:border-box;
}
a {
	text-decoration: none;
	transition: all .3s ease-out;
}

a:link {
	color: teal;
}

a:visited {
	color: teal;
}

a:hover {
	color: #333;
}

a:active {
	color: #333;
}

html {
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	background-color: #E0E0E0;
	font-family: SiYuanRegular,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bolder;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 20.8px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

section {
	margin-bottom:14px;
}